.Header {
    text-transform: uppercase;;
    display: flex;
    flex-direction: row;
    background: $darker;
    color: $lighter;
}

.Header--title {
    position: relative;
    padding: $m-size $xl-size;
    flex-grow: 1;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 700;
    transition: 0.4s;
}
.Header--title:hover {
    color: $dark;
    transform: scale(1.8);
}
.Header--title::before {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 20%;
    width: 60%;
    border-bottom: 1px solid $lighter;
    transform: scale(0.8);
    transition: 0.5s;
    height: 0;
}
.Header--title:hover:before {
    height: 2rem;
    background: $lighter;
    left: 33%;
    width: 33%;
    z-index: -1;
}


.Header--nav_bar {
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0 0 0 $xl-size;
    letter-spacing: 2px;
}

.Header--nav_link {
    position: relative;
    padding: $m-size ;
    z-index: 1;
    transform: scale(0.8);
    cursor: pointer;
    transition: 0.4s;
}
.Header--nav_link:hover {
    transform: scale(0.9);
    color: $dark;
}
.Header--nav_link:active {
    color: $light;
    z-index: 2;
    transition: none;   
}

.Header--nav_link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    border-top: 1px solid $dark;
    opacity: 0;
    transition:border-color 0.5s ,opacity 0.2s, border 0.4s, left 0.6s, width 0.6s;
    z-index: -1;
}
.Header--nav_link:hover:before {
    left: 0;
    width: 100%;
    border-bottom: 2rem solid $lighter;
    opacity: 1;
    transition: 0.4s;
}

.Header--nav_link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    border-bottom: 1px solid $lighter;
    opacity: 0;
    transition: opacity 0.1s, border 0.4s, left 0.6s, width 0.6s;
    z-index: -1;
}
.Header--nav_link:hover:after {
    left: 0;
    width: 100%;
    border-bottom: 2rem solid $lighter;
    opacity: 1;
    transition: 0.4s;
}