// size
$xxs-size : 0.5rem;
$xs-size : 0.8rem;
$s-size : 1rem;
$m-size : 1.4rem;
$l-size : 1.8rem;
$xl-size : 2.2rem;
$xxl-size : 2.6rem;

//color
$darker : #222831;
$dark : #393e46;
$intermidiate : #364f6b;
$light : #00adb5;
$lighter : #eeeeee;